body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    font-family: Tahoma;
    font-size: 11pt;
    line-height: 1.2em; /* optional */
    padding: 12px;
    margin: 0px;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: navy;
    color: white;
    padding: 16px;
    margin: -12px;
    margin-bottom: 20px;
}

table {
    border: 1px solid gray;
    border-collapse: collapse; /* optional */
    float: left;
    grid-column-start: 1;
    grid-column-end: 2;
}

caption {
    border: 1px solid gray;
    border-bottom: none;
    padding: 8px 16px; /* top/bottom right/left */
    font-weight: bold;
    background-color: darkgrey;
}

th, td {
    border-bottom: 1px solid gray;
    padding: 8px 16px;
}

th {
    background-color: lightgrey;
}

tfoot td {
    font-weight: bold;
    background-color: lightgray;
}

form {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 35px;
    grid-column-gap: 20px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px; /* optional */
    padding: 16px;
    float: right;
}

label {
    display: block;
    float: left;
    clear: right;
    width:40%
}

input {
    
    display: block;
    float: right;
    width: 50%;
    margin: 4px;
}

input[type='button'] {
    font-weight: bold;
    margin: 4px;
}



